# Tipare de excludere normale
construit/*.dll
construit/*.txt
construit/limbaje
construit/media
construit/stiluri
construit/sursele mele/*
construit/winavr
construit/*.pdf
construit/*.pem
construit/date.sqlite
construit/CD/*
*.o
*.exe

# Tipare de excludere negate
!construit/CD/autorun.inf
!construit/wtooluri/*.exe
